.about-container {
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden;

  .message-container {
    height: 86%;

    .message-box {
      width: 40%;
    }
  }

  .running-man-box {
    position: absolute;
    bottom: 7rem;
    display: flex;
    justify-content: center;
    width: 1.25rem;
    height: 15rem;
    padding: 3.5rem;
  }

  .dependence-box {
    bottom: 3.5rem;
    margin: 0 3.5rem;
  }
}