.file-box {
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--main-color-transparent);
  position: relative;

  .card-img-top {
    position: absolute;
    top: 0;
  }

  .card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &:hover .card-body {
    top: 0px !important;
  }

  .card-body {
    height: 100%;
    position: absolute;
    width: 100%;
    padding: 0.7rem;
    top: 70%;
    background-color: var(--main-color-transparent);
    transition: top 0.5s;
    -webkit-transition: top 0.5s; /* Safari */
    color: #ccc;

    .card-title {
      margin-bottom: 1rem;
    }


    .card-paragraph {
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      display: -webkit-box;
    }

    .card-button {
      position: absolute;
      bottom: 0.7rem;

      button {
        outline: none;
        box-shadow: none;
        margin-right: 0.2rem;
      }
    }
  }
}
