.file-upload-modal {
  .file-input-group {
    .file-preview-box {
      height: 255px;
      margin: auto;
      background-color: var(--main-color-transparent);
      cursor: pointer;
      overflow: hidden;

      &.is-invalid {
        border-color: #dc3545;
      }

      img,
      video {
        height: 100%;
        width: 100%;
      }

      .file-input-box {
        height: 100%;
        width: 100%;

        .file-input-button {
          margin-top: 20%;
          text-align: center;

          .file-add-mark {
            font-size: xx-large;
          }

          .file-add-note {
            font-size: small;
          }
        }
      }
    }

    #file-input {
      display: none;
    }
  }

  .form-button {
    text-align: center;

    button {
      &:before {
        content: "上传";
      }

      &.uploading:before {
        content: "上传中";
      }
    }
  }
}
