.file-list-modal {
  --bs-modal-width: 80%;

  .modal-dialog {
    height: calc(100% - var(--bs-modal-margin) * 2);

    .modal-content {
      height: 100%;
      @import "./FileListPanel";
    }
  }
}
