.file-list-modal {
  &.have-scrollbar {
    .modal-dialog {
      width: 1371px;

      #file-model-container {
        overflow-y: scroll;
        max-height: 100%;
      }
    }
  }

  &.no-scrollbar {
    .modal-dialog {
      width: 1355px;
    }
  }

  .modal-dialog {
    max-width: none !important;
    height: 790px;

    .modal-content {
      height: 100%;
      height: 790px;

      #file-model-container {
        .infinite-scroll-component__outerdiv {
          width: 100%;

          .infinite-scroll-component {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}