.file-box {
  height: 180px;
  width: 320px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--main-color-transparent);
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .card-img-top {
    position: absolute;
    top: 0;
  }

  .card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &:hover .card-body {
    top: 0px !important;
  }

  .card-body {
    flex: 1 1 auto;
    height: 100%;
    padding: 1.25rem;
    position: absolute;
    width: 100%;
    top: 120px;
    background-color: var(--main-color-transparent);
    transition: top 0.5s;
    -webkit-transition: top 0.5s; /* Safari */
    color: #ccc;

    .card-title {
      margin-bottom: 0.6rem;
    }


    .card-paragraph {
      //height: 48px;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      display: -webkit-box;

      //div {
      //  width: fit-content;
      //}
    }

    .card-button {
      position: absolute;
      bottom: 1.25rem;

      button {
        outline: none;
        box-shadow: none;
        margin-right: 5px;
      }
    }
  }
}
