.file-box {
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--main-color-transparent);
  position: relative;

  .card-img {
    width: 100%;
    height: auto;
  }

  .card-body {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    background-color: transparent;

    .file-detail {
      height: 100%;
      position: absolute;
      width: 100%;
      padding: 4%;
      top: 70%;
      background-color: var(--main-color-transparent);
      transition: top 0.5s;
      -webkit-transition: top 0.5s; /* Safari */
      color: #ccc;

      &:hover {
        top: 0;
      }

      .card-name {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 1rem;
      }


      .card-paragraph {
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        display: -webkit-box;
      }

      .card-button {
        position: absolute;
        bottom: 4%;

        button {
          outline: none;
          box-shadow: none;
          margin-right: 0.2rem;
        }
      }
    }
  }
}
