.admin-profile-container {
  height: 100%;

  .admin-profile-table {
    overflow-y: auto;

    .admin-profile-form {
      width: 50%;
      margin: auto;

      .file-preview-box {
        height: 12.5rem;
        width: 12.5rem;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--main-color-transparent);
        cursor: pointer;
        overflow: hidden;
        border-radius: 0.8rem;

        &.is-invalid {
          border-color: #dc3545;
        }

        img{
          max-height: 100%;
          max-width: 100%;
        }

        .file-input-box {
          text-align: center;

          .file-add-mark {
            font-size: xx-large;
          }

          .file-add-note {
            font-size: small;
          }
        }
      }

      #file-input {
        display: none;
      }
    }
  }

  .admin-profile-footer {
    display: flex;
    justify-content: flex-end;
  }
}
