.admin-connect-iframe {
  border: none;
  height: 100%;
  width: 100%;
}

.admin-connect-container {
  height: 100%;
  overflow: hidden;

  .admin-connect-table {
    overflow-y: auto;

    .admin-connect-list {
      height: calc(100% - 2rem);

      .admin-connect-row {
        display: flex;
        justify-content: space-around;
        margin-bottom: 5rem;

        .card {
          height: 12.5rem;
          width: 12.5rem;
          cursor: pointer;
          overflow: hidden;
          border-radius: 0.8rem;

          .card-body {
            padding: 0;
            background-color: var(--main-color-transparent);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            &.connect-link {
              background-size: 50%;
              background-position-x: center;
              background-position-y: 25%;
            }

            .card-title {
              background-color: var(--main-color-transparent);
              position: absolute;
              width: 100%;
              bottom: -12px;
              color: #ccc;
              height: 3rem;
              vertical-align: middle;
              line-height: 3rem;
              padding: 0 0.5rem;
            }

            .connect-logo {
              height: 4rem;
              width: 4rem;
              right: 0.125rem;
              bottom: 0.125rem;
              position: absolute;
            }
          }
        }
      }
    }

    .admin-connect-note {
      display: flex;
      width: 100%;
      height: 2rem;
      justify-content: center;
      position: absolute;
      bottom: 0px;
    }
  }
}