.file-list-container {
  height: 100%;

  .file-header {
    .row {
      .file-table-disk {
        .btn-group {
          .btn {
            background-color: var(--main-color);
            border-color: var(--main-color);
            color: white;
          }
        }
      }

      .file-table-search {
        justify-content: left;
        display: flex;
      }

      .file-table-buttons {
        text-align: right;
      }
    }
  }

  .file-table {
    overflow-y: scroll;

    .file-table-row {
      width: 100%;
      margin: auto auto 0.5rem;

      .file-list-box {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  .card-footer {
    .pagination {
      margin-bottom: 0;
      justify-content: flex-end;
    }
  }
}
