.canvas-visualizer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  #audio-visualizer-canvas {
    transform: rotate(-90deg);
  }

  .audio-visualizer-button {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    background-color: transparent;

    button {
      border: 0;
      width: 60px;
      height: 60px;
      background-color: transparent;

      &.play-button {
        background-image: url("/assets/icons/play_gray.png");

        &:hover {
          background-image: url("/assets/icons/play_white.png");
        }
      }

      &.replay-button {
        background-image: url("/assets/icons/replay_gray.png");

        &:hover {
          background-image: url("/assets/icons/replay_white.png");
        }
      }

      &.logo-button {
        background-image: url("/assets/images/logo.svg");
        background-position: center;
        background-repeat: no-repeat;
        border: solid 2px var(--main-color);
        border-radius: 30px;
      }
    }

    &.loading {
      .replay-button,
      .logo-button {
        display: none;
      }
    }

    &.start {
      .replay-button,
      .logo-button {
        display: none;
      }
    }

    &.playing {
      .play-button,
      .replay-button {
        display: none;
      }
    }

    &.stop {
      .play-button,
      .logo-button {
        display: none;
      }
    }
  }
}