.tweenmax-webgl {
  #carousel-caption {
    position: absolute;
    width: 34%;
    top: 50%;
    text-align: right;
    z-index: 5;
    transform: translateY(-50%);

    #carousel-title {
      font-size: 100px;
      letter-spacing: -1px;
      display: inline-block;
      color: #F8F8F8DD;
      text-shadow: 0px 0px 8px var(--main-color-transparent);

      &:hover {
        color: #F8F8F8;
        text-shadow: 0px 0px 8px var(--main-color);
      }
    }

    #carousel-status {
      margin-top: 10px;
      font-weight: 400;
      font-size: 50px;
      color: #F8F8F8DD;
      text-shadow: 0px 0px 8px var(--main-color-transparent);
      max-width: 100%;
      overflow: hidden;
    }
  }

  .carousel-paginator {
    & {
      position: absolute;
      bottom: 0;
      z-index: 6;
      width: 100%;
      text-align: center;
      margin-bottom: 60px;
    }

    button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 16px;
      height: 16px;
      background-color: #F8F8F8;
      border-radius: 100%;
      border: 1px solid var(--main-color);
      padding: 0;
      cursor: pointer;
      position: relative;
      opacity: 0.2;
      transition: opacity 0.2s ease-in-out;
      outline: none;
      margin-left: 5px;
      margin-right: 5px;

      &:hover {
        opacity: 0.8;
      }

      &.active {
        opacity: 0.8;
      }

    }
  }
}