.based-on {
  border-top: 1px solid var(--main-color);

  .brand-logo {
    &.react {
      height: 1.7rem;
    }

    &.bootstrap {
      height: 1.3125rem;
    }

    &.react-bootstrap {
      height: 1.3125rem;
    }

    &.jq22 {
      height: 2rem;
    }

    &.github {
      height: 1.3125rem;
    }

    &.nginx {
      height: 0.8rem;
    }

    &.gin {
      height: 1rem;
    }

    &.php {
      height: 1rem;
    }

    &.mysql {
      height: 1.3125rem;
    }

    &.yii {
      height: 1.3125rem;
    }
  }
}