.audio-visualizer {
  background-color: #272822;
  color: #FEFEFE;

  #audio-visualizer-wrapper {
    height: 100%;

    #audio-visualizer-canvas {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    #audio-visualizer-button {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      background-color: transparent;

      button {
        border: 0;
        width: 60px;
        height: 60px;
        background-color: transparent;

        &#play-button {
          background-image: url("/assets/icons/play_gray.png");

          &:hover {
            background-image: url("/assets/icons/play_white.png");
          }
        }

        &#replay-button {
          background-image: url("/assets/icons/replay_gray.png");

          &:hover {
            background-image: url("/assets/icons/replay_white.png");
          }
        }
      }

      &.start {
        #replay-button {
          display: none;
        }
      }

      &.playing {
        #play-button,
        #replay-button {
          display: none;
        }
      }

      &.stop {
        #play-button {
          display: none;
        }
      }
    }
  }

  @keyframes radi {
    from {
      mask-size: 0;
      -webkit-mask-size: 0;
      animation-timing-function: ease-in-out;
      -webkit-animation-timing-function: ease-in-out
    }
    to {
      mask-size: 300%;
      -webkit-mask-size: 300%
    }
  }

  @-webkit-keyframes radi /* Safari 和 Chrome */
  {
    from {
      mask-size: 0;
      -webkit-mask-size: 0;
      animation-timing-function: ease-in-out;
      -webkit-animation-timing-function: ease-in-out
    }
    to {
      mask-size: 300%;
      -webkit-mask-size: 300%
    }
  }

  .radi {
    //mask-image: url("public/image/About/circle_mask.png");
    //-webkit-mask-image: url("public/image/About/circle_mask.png");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: 50% 50%;
    -webkit-mask-position: 50% 50%;
    mask-size: 300%;
    -webkit-mask-size: 300%;
    animation: radi 1.5s;
    -moz-animation: radi 1.5s;
    -webkit-animation: radi 1.5s;
  }
}