.post-index-container {
  position: relative;

  .post-index-header {
    padding: 0.7rem 0;

    .row {
      justify-content: center;
    }
  }

  .post-index-body {

    .post-table-row {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

  .post-index-footer {
    padding: 0.7rem 0;

    .pagination {
      justify-content: center;
    }
  }
}
