.post-view-container {
  justify-content: center;
  overflow-y: scroll;
  height: calc(100vh - 7rem);

  .post-title {
    border-bottom: 1px solid var(--main-color);
    text-align: center;

    h1 {
      color: var(--main-color);
    }

    h5 {
      color: var(--main-color-transparent);
    }
  }

  .post-cover {
    height: 25rem;
    display: block;
    margin: 1rem auto;
  }

  #post-md-viewer {
    border: none;
  }
}
