.post-view-container {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  justify-content: center;
  overflow-y: scroll;
  height: calc(100vh - 7rem);

  .post-title {
    border-bottom: 1px solid var(--main-color);

    h1 {
      color: var(--main-color);
    }

    h5 {
      color: var(--main-color-transparent);
    }
  }

  .post-cover {
    height: 25rem;
    display: block;
    margin: 1rem auto;
  }

  #post-md-viewer {
    border: none;
  }
}