.carousel-caption-modal {
  .card-body {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .input-label {
      display: flex;
      align-items: center;
      padding-right: 0;
    }

    .input-field {
      display: flex;
      padding-top: calc(0.375rem + 1px);
      padding-bottom: calc(0.375rem + 1px);
      padding-left: 0;
    }

    .form-control-sm {
      padding: 0.25rem 0.5rem !important;
    }
  }
}
