.post-editor-modal {
  .modal-dialog {
    width: 90%;
    max-width: none !important;
    height: 90%;

    .modal-content {
      height: 100%;

      .modal-header {
        .modal-title {
          img {
            height: 2.25rem;
          }
        }
      }

      .modal-body {
        #post-editor {
          height: 100%;
          max-height: 100%;
        }
      }
    }
  }
}