.post-editor-modal {
  .modal-dialog {
    width: 90%;
    max-width: none !important;
    height: 90%;

    .modal-content {
      height: 100%;
      width: 100%;

      .post-editor-header {
        height: 3rem;
        width: 100%;

        .modal-title {
          img {
            height: 2.25rem;
          }
        }

        .close {
          line-height: 0.5;
        }
      }

      .post-editor-content {
        height: calc(100% - 3rem);
        width: 100%;

        .row {
          margin: 0;
          height: 100%;
          padding: 1rem;

          .post-editor-body {
            height: 100%;
            padding: 0;
          }

          .post-editor-title {
            height: 100%;
            padding: 0 0 0 1rem;

            .card-body {
              overflow: auto;
            }
          }
        }
      }
    }
  }
}