.post-profile-modal {
  .post-profile-form {
    .cover-input-group {
      .cover-preview-box {
        height: 13rem;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--main-color-transparent);
        font-size: xx-large;
        cursor: pointer;
        overflow: hidden;

        &.is-invalid {
          border-color: #dc3545;
        }

        img,
        video {
          width: 100%;
          height: 100%;
          max-height: 100%;
          max-width: 100%;
        }

        .cover-input-box {
          text-align: center;

          .cover-add-mark {
            font-size: xx-large;
          }

          .cover-add-note {
            font-size: small;
          }
        }
      }
    }

    .form-button {
      text-align: center;
      button {
        margin-right: 0.2rem;

        &.draft {
          &:before {
            content: "保存草稿";
          }

          &.uploading:before {
            content: "保存中";
          }
        }

        &.save {
          &:before {
            content: "保存发布";
          }

          &.uploading:before {
            content: "保存中";
          }
        }
      }
    }
  }
}