.post-list-modal {
  --bs-modal-width: 80%;

  .modal-dialog {
    height: calc(100% - var(--bs-modal-margin) * 2);

    .modal-content {
      height: 100%;

      .modal-body {
        height: 100%;
        @import "@components/card/CardPanel";

        .card-panel {
          height: 100%;

          .card-panel-body {
            height: calc(100% - var(--bs-card-height) * 2);
            overflow-y: auto;
          }

          .card-panel-footer {
            .pagination {
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }
}
