.post-md-editor {
  height: 100%;

  #post-editor {
    height: 100%;

    .rc-md-navigation {
      z-index: 2;
    }

    .editor-container {
      margin-top: -38px;
      padding-top: 38px;
      z-index: 1;
    }
  }
}