.login-container {
  .modal-header {
    .close {
      &:active,
      &:focus {
        outline: 0;
      }
    }

    .modal-title {
      img {
        height: 2.25rem;
      }
    }
  }

  .modal-content {
    .form-group {
      .is-invalid {
        &::-webkit-input-placeholder,
        &:-moz-placeholder,
        &:-ms-input-placeholder {
          color: var(--danger);
        }

        & + .form-text {
          color: var(--danger) !important;
        }
      }

      .invalid-tooltip {
        right: 0;
        left: auto;
      }
    }

    .form-button {
      text-align: center;

      button {
        &:before {
          content: '登录';
        }

        &.logging:before {
          content: '登录中';
        }
      }
    }
  }

  .modal-footer {
    .connect {
      padding: 0;
      width: 1.6rem;
      height: 1.6rem;

      img {
        max-height: 100%;
      }
    }
  }
}

