.login-container {
  .modal-header {
    height: 4rem;

    img.logo {
      max-height: 100%;
    }

    .close {
      &:active,
      &:focus {
        outline: 0;
      }
    }
  }

  .modal-content {
    .form-group {
      .is-invalid {
        &::-webkit-input-placeholder,
        &:-moz-placeholder,
        &:-ms-input-placeholder {
          color: var(--danger);
        }

        & + .form-text {
          color: var(--danger) !important;
        }
      }

      .invalid-tooltip {
        right: 0;
        left: auto;
      }
    }

    .form-button {
      text-align: center;

      button {
        &:before {
          content: '登录';
        }

        &.logging:before {
          content: '登录中';
        }
      }
    }
  }

  .modal-footer {
    height: 3rem;

    .connect-button {
      cursor: pointer;
      padding: 0;
      max-height: 100%;
      margin: 0 0.25rem;
    }
  }
}

