@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~@sweetalert2/theme-bootstrap-4/bootstrap-4.scss';

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: rgba(222, 222, 222, 0.5);
  border-radius: 5px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  min-height: 15px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-track-piece {
  background: #ffffff;
}

:root {
  --main-color: #002360;
  --main-color-transparent: #00236099;
}

.modal-backdrop {
  opacity: 0 !important;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.bg-main-color-transparent {
  color: #F8F8F8;
  background-color: var(--main-color-transparent);
  border-color: var(--main-color-transparent);
}

.bg-main-color {
  color: #F8F8F8;
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.btn-main-color {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.full_container {
  width: 100% !important;
  height: calc(100vh - 112px) !important;
  margin: 56px 0;
}

.full_screen {
  width: 100% !important;
  height: 100vh !important;
}

.direct-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  .btn,
  .form-control {
    &.focus,
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .app-header {
    background-color: rgba(0, 0, 0, 0.2);
    color: #F8F8F8;
    z-index: 99;

    .navbar-brand {
      display: flex;

      .brand-img {
        height: 1.875rem;
      }
    }
  }

  .app-body {
    height: 100vh;
    z-index: 0;
  }

  .app-footer {
    background-color: var(--main-color);
    color: #F8F8F8;
    z-index: 99;
  }
}
