@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
  --main-color: #002360;
  --main-color-transparent: #00236099;
}

.modal-backdrop {
  opacity: 0 !important;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.app-container {
  .btn {
    &.focus,
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .btn-main-color {
    background-color: var(--main-color);
    border-color: var(--main-color);
  }

  .full_screen {
    width: 100% !important;
    height: 100vh !important;
  }

  .direct-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .app-header {
    background-color: rgba(0, 0, 0, 0.2);
    color: #F8F8F8;
    z-index: 99;

    .navbar-brand {
      display: flex;

      .brand-img {
        height: 30px;
      }
    }
  }

  .app-body {
    min-height: 100vh;
    z-index: 0;
  }

  .app-footer {
    background-color: var(--main-color);
    color: #F8F8F8;
    z-index: 99;
  }
}
