@import "~bootstrap/dist/css/bootstrap.min.css";

.app-container {
  .app-header,
  .app-footer {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .app-header {
    .brand-img {
      width: 30px;
      height: 30px;
      position: absolute;
    }

    .brand-text {
      margin-left: 30px;
    }
  }
}
