.line-settings-container {
  height: 100%;

  .line-settings-table {
    overflow-y: auto;
    max-height: 100%;

    .line_app_id {
      height: 4.375rem;
    }

    .invalid-tooltip {
      //left: 0.3rem;
    }

    .line-settings-note {
      padding-top: 1.25rem;
      border-top: 1px solid #ced4da;
    }
  }

  .line-settings-footer {
    display: flex;
    justify-content: flex-end;
  }
}