.twitter-settings-container {
  height: 100%;

  .twitter-settings-table {
    overflow-y: auto;
    max-height: 100%;

    .twitter_app_id {
      height: 4.375rem;
    }

    #twitter_app_primary_key,
    #twitter_public_key {
      resize: none;
    }

    .invalid-tooltip {
      //left: 0.3rem;
    }

    .twitter-settings-note {
      padding-top: 1.25rem;
      border-top: 1px solid #ced4da;
    }
  }

  .twitter-settings-footer {
    display: flex;
    justify-content: flex-end;
  }
}