.paginator-container {
  .page-item {
    &.active {
      .page-link {
        background-color: var(--main-color);
        border-color: var(--main-color);
        color: white;
      }
    }

    .page-link {
      background-color: var(--main-color-transparent);
      border-color: var(--main-color-transparent);
      color: white;
    }
  }
}